<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.azhar.laundry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaundryApps"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".view.history.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".view.cucibasah.CuciBasahActivity"
            android:exported="true" />
        <activity
            android:name=".view.dryclean.DryCleanActivity"
            android:exported="true" />
        <activity
            android:name=".view.ironing.IroningActivity"
            android:exported="true" />
        <activity
            android:name=".view.premiumwash.PremiumWashActivity"
            android:exported="true" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR API KEY" />
    </application>

</manifest>